.cabecalho {
    padding: 32px 12.5%;
}

.cabecalho__nav_list {
    display: grid;
    grid-template-columns: 1fr auto 50% auto auto auto;
    list-style: none;
    gap: 40px;
    align-items: center;
    width: 100%;
}

.cabecalho__link {
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    color: var(--cor-links);
    font-family: var(--fonte-texto);
}

.cabecalho__input {
    position: relative;
}

#search {
    width: 100%;
    padding: 24px 20px;
    box-sizing: border-box;
    background-color: var(--cor-texto);
    border-radius: 32px;
    border: none;
    font-size: 20px;
    line-height: 24px;
    font-family: var(--fonte-texto);
    color: var(--cor-links);
}

.cabecalho__input img {
    position: absolute;
    right: 17.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
}

.cabecalho__menu {
    display: none;
}

.cabecalho__link, .cabecalho__icone img {
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
}

.cabecalho__link:hover, .cabecalho__icone img:hover {
    background-color: var(--cor-hover);
}

@media screen and (max-width: 1024px) {
    .cabecalho__nav_list {
        grid-template-areas: 
        "logo sobre login perfil carrinho"
        "input input input input input";
        grid-template-columns: 1fr 1fr .5fr .5fr .5fr;
    }

    .cabecalho__logo {
        grid-area: logo;
    }

    .cabecalho__sobre_nos {
        grid-area: sobre;
        justify-self: center;
    }

    .cabecalho__login {
        grid-area: login;
        justify-self: center;
    }

    .cabecalho__perfil {
        grid-area: perfil;
        justify-self: center;
    }

    .cabecalho__carrinho {
        grid-area: carrinho;
        justify-self: center;
    }

    .cabecalho__input {
        grid-area: input;
    }
}

@media screen and (max-width: 580px) {
    .cabecalho {
        padding: 24px 5%;
    }

    .cabecalho__nav_list {
        grid-template-areas: 
        "menu logo perfil carrinho"
        "input input input input";
        grid-template-columns: .5fr 1fr .5fr .5fr;
    }

    .cabecalho__logo {
        justify-self: center;
    }

    .cabecalho__menu {
        display: block;
    }

    .cabecalho__menu button {
        border: none;
    }

    .cabecalho__login, .cabecalho__sobre_nos {
        display: none;
    }
}