.categorias {
    padding: 80px 12.5%
}

.categorias__titulo {
    font-size: 39px;
    line-height: 120%;
    font-weight: 700;
    text-align: center;
    font-family: var(--fonte-titulo);
    color: var(--cor-texto-principal);
    margin-bottom: 40px;
}

.categorias__texto {
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    font-family: var(--fonte-texto);
    color: var(--cor-texto-secundario);
    margin-bottom: 40px;
}

.categorias__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "roupas roupas decoracao"
    "canecas acessorios acessorios";
    list-style-type: none;
    gap: 24px;
}

.categorias__list_item {
    box-shadow: 0px 4px 24px 0px #7B7B7B26;
}

.categorias__list_item p {
    font-size: 31px;
    font-weight: 700;
    line-height: 120%;
    font-family: var(--fonte-titulo);
    color: var(--cor-texto-principal);
    padding: 16px 0;
    text-align: center;
}

.categorias__list_item div {
    background-color: var(--cor-links);
}

.categorias__list_item div img {
    height: 331px;
    width: 100%;
    object-fit: contain;
    padding: 24px;
}

.roupas {
    grid-area: roupas;
}

.decoracao {
    grid-area: decoracao;
}

.canecaw {
    grid-area: canecas;
}

.acessorios {
    grid-area: acessorios;
}

@media screen and (max-width: 1024px) {
    .categorias {
        padding: 80px 5%;
    }

    .categorias__titulo {
        font-size: 31px;
    }
}

@media screen and (max-width: 580px) {
    .categorias {
        padding: 32px 5%;
    }

    .categorias__titulo {
        margin-bottom: 16px;
        font-size: 25px;
    }

    .categorias__texto {
        font-size: 16px;
    }
    
    .categorias__list {
        display: inline;
    }

    .categorias__list_item p {
        margin-bottom: 24px;
        font-size: 25px;
    }
}